<div class="footer">
  <div class="footer__row blue-background">
    <div class="footer__row__description">
      <p>
        let's discuss making your interior <br />
        like a dream place!
      </p>
    </div>
    <div class="footer__row__contactUs">
      <p>Contact us below to work together to build your amazing interior</p>
      <button>Contact Us</button>
    </div>
  </div>
  <div class="footer__row pd-top">
    <div class="footer__row__first-half">
      <app-dananz-logo></app-dananz-logo>
      <p class="agency">One of the best furniture agency.</p>
    </div>
    <div class="footer__row__flex-half social">
      <p class="label">
        <span id="circle"></span>
        Enter your email to get the laterst news
      </p>
      <div class="form-field">
        <img src="../../../assets/icons/vector-arrow.png" alt="" />
        <input type="text" />
      </div>
      <div class="social-media">
        <div class="row">
          <div class="flex-half first"></div>
          <div class="flex-half-social">
            <div class="follow"><span>Follow us On</span></div>
            <div class="icons">
              <span
                ><img src="../../../assets/icons/facebook.png" alt="facebook"
              /></span>
              <span
                ><img src="../../../assets/icons/instagram.png" alt="instagram"
              /></span>
              <span
                ><img src="../../../assets/icons/tik-tok.png" alt="tik-tok"
              /></span>
              <span
                ><img src="../../../assets/icons/youtube.png" alt="youtube"
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
