@import "colors";
@import "responsive";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.footer {
  margin-top: -5px;
  .blue-background {
    background-color: $blue;
    padding-bottom: 26px;
  }
  .social {
    justify-content: space-between;
  }

  .pd-top {
    padding-top: 80px;
    @include mobile {
      padding-top: 30px;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    padding: 41px 10.35%;
    @include mobile {
      flex-direction: column;
      padding: 21px 10.35%;
    }

    &__description {
      color: #fff;
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 170%;

        @include mobile {
          font-weight: 300;
          font-size: 22px;
          line-height: 130%;
        }
      }
    }
    &__contactUs {
      flex: 30%;
      display: flex;
      flex-direction: column;
      color: #d9d9d9;
      gap: 5px;
      padding-left: 157px;
      @include mobile {
        padding-left: 0;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $font-dark-grey;

        @include mobile {
          font-weight: 250;
          font-size: 16px;
          line-height: 120%;
        }
      }
      button {
        width: 142px;
        height: 49px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;

        @include mobile {
          width: 90px;
          height: 35px;
          font-weight: 300px;
          font-size: 12px;
        }
      }
    }
    &__first-half {
      display: flex;
      flex-direction: column;
      flex: 70%;
      .agency {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 170%;
        color: #333333;
        width: 481px;
        padding-top: 10px;

        @include mobile {
          width: auto;
          font-size: 25px;
          font-weight: 350;
        }
      }
    }
    &__flex-half {
      flex: 30%;
      display: flex;
      flex-direction: column;

      .label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #333333;
        padding-left: 13px;
        padding-top: 33px;

        @include mobile {
          padding-left: 0;
          padding-top: 0;
          font-size: 14px;
          font-weight: 400;
        }
      }

      #circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #333333;
        display: inline-block;

        @include mobile {
          width: 9px;
          height: 9px;
        }
      }
      .form-field {
        width: 440px;
        padding-left: 12px;
        position: relative;

        @include mobile {
          width: 100%;
          padding-left: 0;
        }
        img {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 23px;
          height: 9px;
        }
        input {
          width: 100%;
          border: none;
          color: $font-grey;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          border: none;
          border-bottom: 1px solid #141414;
          margin: 25px 0;
          outline: none;

          @include mobile {
            font-weight: 250;
            font-size: 14px;
            line-height: 120%;
          }
        }
      }
      .social-media {
        display: flex;
        flex-direction: column;
        width: 440px;
        align-items: flex-end;

        @include mobile {
          width: auto;
        }

        .flex-half-social {
          padding: 10px;
          .follow {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #333333;
            padding: 5px 0 0 18px;
          }
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .icons {
          width: 195px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          span {
            width: 32px;
            height: 32px;
            background: #d9d9d9;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
