<div class="home-container">
  <div class="home-container__header">
    <h1>Minimalist Room</h1>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
  </div>
  <div class="home-container__content">
    <div class="home-container-content__img-container">
      <img
        src="../../../assets/images/sofaWithTable.png"
        alt="Sofa with table"
      />
    </div>
    <div class="home-container__content__description">
      <div class="project_overview">
        <h1>Project Overview</h1>
        <p>
          Online learning with us does not interfere with your daily life.
          because learning can be done anytime and anywhere. Online learning
          with us does not interfere with your daily life. because learning can
          be done anytime and anywhere. Online learning with us does not
          interfere with your daily life. because learning can be done anytime
          and anywhere.
        </p>
        <div class="project_overview__footer">
          <div class="project_overview__footer__date">July 22 - 2022</div>
          <div class="project_overview__footer__design">
            Interior Design - Furnitur
          </div>
        </div>
      </div>
      <div class="design_process">
        <h1>Design Process</h1>
        <div>
          <p>
            Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. Online learning
            with us does not interfere with your daily life. because learning
            can be done anytime and anywhere.
          </p>
          <p style="padding-top: 20px">
            Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. Online learning
            with us does not interfere with your daily life. because learning
            can be done anytime and anywhere.
          </p>
        </div>
      </div>
    </div>
    <div class="home-container__content__images">
      <div class="row">
        <div class="flex-half">
          <img src="../../../assets/images/chair.png" alt="" width="584" />
        </div>
        <div class="flex-half">
          <img src="../../../assets/images/mirror.png" alt="" width="584" />
        </div>
      </div>
      <div class="row">
        <img src="../../../assets/images/sofaWithTree.png" alt="" />
      </div>
      <div class="row">
        <div class="flex-half">
          <img src="../../../assets/images/nightLight.png" alt="" />
        </div>
        <div class="flex-half">
          <img src="../../../assets/images/emptyRoom.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
