@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,700&display=swap");
@import "colors";
@import "responsive";

.home-container {
  padding: 0;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;

    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 800;
      font-size: 56px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 40px;
      @include mobile {
        width: auto;
        font-weight: 600;
        font-size: 45px;
        line-height: 120%;
      }
    }
    p {
      text-align: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      width: 518px;
      @include mobile {
        width: auto;
        font-weight: 200;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
  &__content {
    img {
      height: 513px;
      max-width: 100%;
      @include mobile {
        height: auto;
      }
    }
    &__description {
      display: flex;
      flex-direction: row;
      padding: 97px 0 70px 0;
      @include mobile {
        flex-direction: column;
        gap: 10px;
      }

      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #333;

        @include mobile {
          width: auto;
          font-weight: 450;
          font-size: 22px;
          line-height: 120%;
        }
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        padding-top: 9px;
        color: $font-grey;
        @include mobile {
          width: auto;
          font-weight: 200;
          font-size: 16px;
          line-height: 130%;
        }
      }
      .project_overview {
        flex: 50%;
        &__footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          color: $font-grey;
          margin-top: 59px;
          @include mobile {
            font-weight: 250;
            font-size: 14px;
            line-height: 130%;
            margin-top: 45px;
          }

          &__date {
            flex: 30%;
          }
          &__design {
            flex: 60%;
          }
        }
      }
      .design_process {
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 40px;
        @include mobile {
          padding-left: 0;
        }
      }
    }

    &__images {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .row {
        display: flex;
        flex-direction: row;
        gap: 32px;
        @include mobile {
          flex-direction: column;
        }
        .flex-half {
          flex: 50%;
          img {
            width: 584px;
            height: 513px;
            @include mobile {
              height: auto;
            }
          }
        }
      }
    }
  }
}
